<div>
<%=   flash[:notice]  %>
</div>

<table>
    <tr><Strong>Title:</Strong></tr><tr><%= @book.title %></tr></br>
    <tr><Strong>Body:</Strong></tr><tr><%= @book.body %></tr>
    <tr colspan="3"></tr>
</table>

  <%= link_to "Edit", edit_book_path %><span> |</span>
  <%= link_to "Back", "/books" %>